{% extends 'base.html' %}

{% block title %}
О программе
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="text_block list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="../static/image/3.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <p class="mb-0 opacity-75">Программа «Железный Шминтеллект» разработана в рамках обучения по программе курса «Архитектор в сфере ИИ» университета Иннополис студентом Шмигириловым Андреем Александровичем. Версия 1.0 представлена 20 ноября 2023 года.</p>
          <p class="mb-0 opacity-75">Куратором проекта до версии 1.0 включительно, осуществляющим ревью кода и его последующую проверку, является Гарипов Расим.</p>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
