{% extends 'base.html' %}

{% block title %}
    FAQs
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="text_block list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="../static/image/1.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Что делает данная программа?</h6>
          <p class="mb-0 opacity-75">Программа «Железный Шминтелект» используется для контроля качества изделий в метталургической промышленности.
            А именно - анализирует вид рабочего колеса погружного насоса сверху на предмет наличия дефектов, допущенных в процессе литья изделия.</p>
        </div>
        <small class="opacity-50 text-nowrap">17 минут назад</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="../static/image/1.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Какова достигнутая точность предсказания?</h6>
          <p class="mb-0 opacity-75">Показатель точности находится в районе 95%-98%, что является достаточно хорошим результатом.
            Однако, не исключает вероятность ошибки.
          </p>
        </div>
        <small class="opacity-50 text-nowrap">10 минут назад</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <img src="../static/image/1.jpg" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Какие данные были использованы для обучения «Железного Шминтелекта»?</h6>
          <p class="mb-0 opacity-75">Для обучения были использованы данные из открытого доступа.
            А именно - 6633 изображения вошли в обучающую выборку.
          </p>
        </div>
        <small class="opacity-50 text-nowrap">2 минуты назад</small>
      </div>
    </a>
  </div>
</div>
{% endblock %}
