{% extends 'base.html' %}

{% block title %}
Загрузка детали
{% endblock %}

{% block body %}
	<form action="http://127.0.0.1:5000/uploader" method="POST" enctype="multipart/form-data">
		<div class="mb-3">
  			<label for="formFile" class="form-label">Загрузите изображение детали для прогноза качества</label>
  			<input class="form-control" type="file" name='file' id="formFile" onchange="readURL(this);">
		</div>
		<img id="blah" src="#" alt="your image" />
		<button class="btn btn-warning rounded-pill px-3" type="submit">Отправить & спрогнозировать</button>

	</form>
{% endblock %}